
body{
	background-color: lightgrey;
	
}
h1, h2, h3, h4, h5, h6{
	font-family: sans-serif;
	color: black;
	font-style: normal;
	font-weight: 400;
}
p{
	font-size: 14px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 100;
	color: black;
	line-height: 1.8;
}
a {
	color: black;
}
a:hover {
	color: white;
}
.linkStyle {
	color: border-left;
	font-family: 'montserrat', sans-serif;
	font-style: normal;
	font-weight: 100;
	text-decoration: none;	
}
.topNavLI {
		font-size: 18px
}
.sectionText {
	text-align: center;
}
#sectionOne {
	text-align: center;
}
#sectionTwo {
	text-align: center;
}
#sectionThree {
text-align: center;
}
.paraContent{
	font-size: 13px;
	font-family:  sans-serif;
	font-style: normal;
	font-weight: 350;
	color: black;
	line-height: 1.7;
	margin-left: 5%;
	margin-right: 5%;
}

ul {
    padding: 0;
    list-style-type: none;
	}
